@import "fonts"
@import "libs"
@import "vars"


*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

html, body
	height: 100%

body
	font-size: 16px
	min-width: 320px
	position: relative
	line-height: 1.75
	font-family: $default-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

.col-center
	float: none
    margin-right: auto
    margin-left: auto

.text-center
	text-align: center

.header-img 
    background-size: cover
    background-position: center
    height: 100vh
.frame
	border-color: white
	border-style: double
	border-color: $accent

.header-text
	color: white
	font-size: 4rem
	text-align: center
	color: 
	margin: 
		bottom: 7vh
	
.me
	margin: 3em	
	color: white
	display: flex
	justify-content: center
	.about
		display: flex
		flex-direction: column
		justify-content: center
		margin:
			left: 5rem
		h3
			text-align: left
			font-family: Merriweather-Bold
			font-size: 2.5rem
			margin-bottom: 1em
			text-decoration: underline
			
		p
			text-align: left
			font-size: 0.9rem
			span
				font-family: Merriweather-Bold
				font-size: 1.1rem
	img
		max-width: 500px
		

.info-table
	overflow-x: auto
	border-radius: 10px
	border-spacing: 0
	margin: 
		top: 5rem
		left: auto
		right: auto

	tr:last-child
		td 
			border-bottom: 0
		td:first-child
			border-radius: 0 0 0 10px
		td:last-child
			border-radius: 0 0 10px 0
			
	tr 
		td:last-child
			border-right: none

	th 
		background: #81B3EC
		text-shadow: 0 0.5px 0.5px #2D2020
		padding: 10px 20px
		&:first-child
			text-align: left
			border-top-left-radius: 10px
		&:last-child
			border-top-right-radius: 10px
			border-right: none

	th, td
		border-style: solid
		border-width: 0 1px 1px 0
		border-color: #212021

	td 
		padding: 10px 20px
		background: #F8E391
		
		&:first-child
			text-align: left


	caption 
		caption-side: top
		text-align: left
		padding: 10px 0
		font-size: 14px
		color: $accent
		font-size: 17px
		margin:
			bottom: 1em


.inputs 
	margin: 
		top: 2rem
	.input_your_phone_name
	    background: white
	    border-radius: 2rem
	    text-align: left
	    height: 2.5rem
	    padding-left: 1.2rem
	    border: none
	    font-weight: 500
	    font-size: 0.8rem
	.input-phone
		color: white
	.input-name
		color: white

#button_moreInfo
	margin: 
		top: 2rem
	background-color: $accent
	border-radius: 2rem
	text-align: center
	height: 2.5rem
	font-size: 0.9rem
	outline: none !important
	border: none
	&:active
		background-color: $accent 
		outline-color: $accent  !important
		border-color: $accent !important

	&:focus
		background-color: $accent 
		outline-color: $accent  !important
		border-color: $accent  none !important

	&:hover
		background-color: transparent 
		color: $accent
		outline: $accent
		border: $accent 

.main-info
	margin:
		top: 50px
	color: white
	display: none
	a
		color: $accent
	b
		font-family: Merriweather-BoldItalic
		text-decoration: underline
	.underline
		text-decoration: underline
		color: $accent


@import "media" // Всегда в конце
